
      html{
        font-size: 22px;
      }
      h1{
        background-color:#1F1F1F;
        color: #E2E2E2;
        text-align: center;
        font-family: "Arial";
      }
      input{
        height:60px;
        width:70%;
        color:#ff5151;
        background-color:#2D2D2D;
        border:none;
        font-size:15pt;
        font-weight: bold;
        vertical-align: bottom;
        text-indent:10px;
      }
      input[type=checkbox]{
        height:30px;
        width:4%;
      }
      
      input[type=submit]{
        background-color: #ff2222;
        color:#1F1F1F;
        -webkit-transition-duration: 0.1s;
        transition-duration: 0.1s;
      }
      
      button{
        width:30%;
        height:60px;
        border: 0px solid;
        border-radius: 4px;
        color: #1f1f1f;
        font-size: 25px;
        font-weight: bold;
        background-color:#ffaa1c;
        margin-bottom:5px;
        -webkit-transition-duration: 0.1s;
        transition-duration: 0.1s;
      }
  
      input[type=submit]:hover, button:hover{opacity:0.6;}
      input[type=submit]:active, button:active{transform:scale(1.2,1.2);}
      textarea{
        width:100%;
        text-align:center;
        font-size: 32px;
      }
      body{
        background-color:#121212;
        color:#E2E2E2;
      }
      table{
        width:100%;
        font-size:24px;
        background-color:#2E2E2E;
        color:#f7f7f7;
        border: 1px solid;
        border-color:#121212;
      }
      th{
        background-color:#ffaa1c;
        color:#000000;
        border: 0px solid;
        border-color:#121212;
      }
      td{
        border: 1px solid;
        border-color:#121212;
      }
      
      /* Absolute Center Spinner */
      .loading {
        position: fixed;
        z-index: 999;
        height: 2em;
        width: 2em;
        overflow: show;
        margin: auto;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        opacity: 0;
        display:none;
        transition: .8s;
      }
      
      /* Transparent Overlay */
      .loading:before {
        content: '';
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(20, 20, 20,.8);
      }
      
      .loading:after {
        content: '';
        display: block;
        font-size: 20px;
        width: 1em;
        height: 1em;
        animation: spinner 500ms infinite linear;
        border-radius: 0.5em;
        box-shadow: rgba(255,128,0, 0.75) 1.5em 0 0 0,
        rgba(0,0,0, 0.75) 1.1em 1.1em 0 0,
        rgba(255,128,0, 0.75) 0 1.5em 0 0,
        rgba(0,0,0, 0.75) -1.1em 1.1em 0 0,
        rgba(255,128,0, 0.75) -1.5em 0 0 0,
        rgba(0,0,0, 0.75) -1.1em -1.1em 0 0,
        rgba(255,128,0, 0.75) 0 -1.5em 0 0,
        rgba(0,0,0, 0.75) 1.1em -1.1em 0 0;
      }

      /* Animation */
      @keyframes spinner {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }

       /* unvisited link */
      a:link {
        color: #ff2222;
      }

      /* visited link */
      a:visited {
        color: #ff2222;
      }

      /* mouse over link */
      a:hover {
        color: #ffaa1c;
      }

      /* selected link */
      a:active {
        color: #E2E2E2;
      } 

      